h5  {
    text-align: center;
    font-family: cursive;
    }
    p {
      text-align: center;
      font-family: cursive;
    }
    body {
      background-image: url("./assets/v223_8.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      
    }

    .bot{
      
      margin: 30px;
}
