body{
    background-image: url("../assets/fondo.png");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.players-container {
    margin-left: 300px;
}
.containerm {
    display: flex;
    flex-wrap: nowrap; /* No permitir que los elementos se envuelvan a la siguiente línea */
    justify-content: center; /* Alinear los elementos en el centro horizontalmente */
    align-items: center; /* Alinear los elementos en el centro verticalmente */
    gap: 10px; /* Espacio entre los elementos, ajusta según sea necesario */
}