.appvideos {
    position: relative;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    background-image: url('../src/assets/fondo.png'); /* Ruta relativa ajustada */
    background-size: cover ; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
  }
  
.botonn-inicio {
    text-align: left;
    position: relative;
    margin-right: 1130px;
    margin-top: -50px;
  }