.contenedor-imagen-negro {
    position: relative;
    margin-left: 300px;
    
   
    
}

.imagen-containerNeg {
    margin-top:-300px;
    height: 300px; /* Ajusta la altura según tus necesidades */
    margin-left: 300px;
    
    
}
texto-encima-neg {
    position: relative;
    

}




