
.btn {
    background-color: #c1bfc1; 
    color: #cf5555; 
    border: none;
    margin: 7px 0;
    font-size: 150px;
    cursor: pointer;
    
} 
.btn-group-vertical {
    background-color: #efabe4; 
    padding: 10px;
    border-radius: 20px;
    flex-direction: column; 
    top: 130px;
    
      
}
  
 