
card {
    background-image: url(https://i.pinimg.com/736x/1a/aa/b3/1aaab3e6643cdf5b0779ddc3640389da.jpg);
    background-size: 250% auto;
}
.card-img-topm {
    width: 160px;
    height: 170px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    
}
.card-text {
    text-align: justify;
      
}
.btn-link1{
    padding: 2px;
    margin: 10px;
    background-color: #82c5e4; 
    color: #fbf1f1; 
    border-radius: 10px;    
    border: none;           
    font-weight: bold;
    text-decoration: none;  
    font-size: 20px;

} 

