.contenedor-imagen-amarillo {
    position: relative;
    margin-top: -900px;
    margin-left: 750px;
   

}
.foto-img-ama {
    width: 400px;
    

}
/* texto-encima-ama {
    position: relative;
    margin: 90px;
    background-color: transparent;
    border: none;
    
  
} */
