/* .foto-imagen{
    margin: 100px;
    height: 50vh;
    display: flex;
    float: right;

 
    
    }
    
.foto-img {
    transition: transform 0.4s ease;
      }
    
.agrandado {
    transform: scale(1.5);
      }
    */

    .contenedor-imagen {
        display: flex;
        justify-content: flex-end; /* Alinea los elementos hijos a la derecha */
        margin: 100px;
    }
    
    .foto-imagen {
        height: 50vh;
        transition: transform 0.4s ease;
        cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
    }
    
    .agrandado {
        transform: scale(1.5);
    }
    