.nino{
    display: flex;
    justify-content: right;
    height: 30vh; 
    margin-top: 220px;
    position: relative;
    justify-content: flex-end;
}


  
  .nino img {
    max-height: 200%;
    max-width: 300%;
    object-fit: cover; /* Ajusta la imagen para que cubra completamente el contenedor */
  }