
.contenedor-imagen11 {
  display: flex;
  justify-content: flex-end; /* Alinea los elementos hijos a la derecha */
  margin: 100px;
}

.foto-imagen11 {
  width: 70vh;
  margin-right: 650px;
  margin-top: -50px;
 
  
}


