#amarillo {
    font-size: 25px;
    margin-left: 0px;
    text-align: justify;  
    margin-left: 350px;
    margin-top: -60px;
    margin-right: 50px;
    font-family: Georgia, serif;


    
    
    
}
.contenedor-imagen-amarillo {
    position: relative; 
    display: inline-block;
    
    
}
  
.texto-encima-ama {
    position: absolute;  
    background-color: transparent; 
    text-align: justify;
    margin-top: -150px;
   
    
}