/* contenedor-imagen {
    position: relative; 
    display: inline-block;
}
  
texto-encima {
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: transparent;
    padding: 10px; 
    text-align: justify;
} */
.container-texto-ama {
    margin-top: -50px;
    
    
}
#amarillo {
    font-size: 25px;
    margin-left: 0px;
    text-align: justify;  
    
    
}
.contenedor-imagen-amarillo {
    position: relative; 
    display: inline-block;
}
  
.texto-encima-ama {
    position: absolute;  
    background-color: transparent;
    padding: 20px; 
    text-align: justify;
    margin-top: 80px;
    
}