.contenedor-imagen-amar {
        display: flex;
        margin-left: 70px;
        margin-top: 70px;
    }
    
    .foto-imagen-amar {
        height: 50vh;
        margin-top: 60px;

    
    }
    
    