/* contenedor-imagen {
    position: relative; 
    display: inline-block;
}
  
texto-encima {
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: transparent;
    padding: 10px; 
    text-align: justify;
} */
.container-texto {
    margin-top: 100px;
    
    
}
#naranja {
    font-size: 27px;
    margin-left: 610px;
    text-align: justify;  
    font-family: Georgia, serif;

    
    
}
.contenedor-imagen {
    position: relative; 
    display: inline-block;
}
  
.texto-encima {
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: transparent;
    padding: 20px; 
    text-align: justify;
    margin-top: -40px;
}