/* contenedor-imagen {
    position: relative; 
    display: inline-block;
}
  
texto-encima {
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: transparent;
    padding: 10px; 
    text-align: justify;
} */
.container-texto {
    margin-top: 100px;
    
    
}
#naranja {
    font-size: 26px;
    margin-left: 610px;
    text-align: justify;  
    font-family: Georgia, serif;
    color: rgb(27, 30, 27); /* Color base del texto */
    transition: color 0.3s;
     
}
#naranja:hover{
color: orangered
}

.contenedor-imagen {
    position: relative; 
    display: inline-block;
}
  
.texto-encima {
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: transparent;
    padding: 20px; 
    text-align: justify;
    margin-top: -40px;
}